.Container {

    .Box-task {
      display: flex;
      justify-content: space-between;

      .IconButton-ChekIcon {

      }

      .IconButton-ChekIcon:disabled {

      }

      .Typography{
          text-align: left;
          align-items: center;
          font-size: large;
      }
      .Typography-success{
        text-decoration: line-through;
      }
    }



}
